body {
    background-color: aliceblue !important;
}
.logo {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 150px;
    font-size: 25px;
    font-weight: 700;
    line-height: 20px;
}
a {
    text-decoration: none !important;
}
header {
    overflow: hidden;
    background-color: aliceblue;
    margin-bottom: 10px;
    padding: 10px;
}
.login {
    margin-right: 10px;
}
.nekit {
    color: blue;
}
.chats {
    color: yellow;
}
.user_brand {
    text-decoration: none;
    color: lightslategray;
}
div {
    margin: 10px;
}
form {
    margin-left: auto;
    margin-right: auto;
    max-width: max-content;
    background-color: white;
    border: solid 2px aliceblue;
    border-radius: 25px;
    padding: 10px;
}
.error_field {
    border: red solid 1px;
}
.message {
    color: red;
    font: small-caption;
}
.submit-button {
    width: 100%;
}
.message-field {
    background-color: lavender;
    border-radius: 15px;
    border-color: lavender;
    outline: none
}
