{% extends "base.html" %}

{% block content %}
<h1 align="center">О проекте</h1>
<h5><br>Знакомьтесь, это <b>Webby</b> - мессенджер пусть и не самого первого сорта, но с душами его создателей (если они
    не успели продать их дьяволу за 100 баллов в рейтинг).<br><br></h5>
<p>
    В таком случае очевидно, что его первостепенная задача - <b>пересылка сообщений</b> между пользователем А и
    пользователем Б,
    но тогда затея была бы весьма суховата, поэтому на основу любого мессенджера было положено несколько значительных
    изменений.<br><br>
    Ну что же тогда, давайте уже опобруем оплот библиотек <b>Flask</b> вместе с её ответвлениями и множества
    других...<br><br>
    Не идет? Или не можете понять, почему нет всего прекрасного, кроме скудненького роадмапа, заголовка и "подбородка" с
    никому не нужной, кроме важных дядек в пиджаках с портфелями, информацией?<br><br>
    <b>А вот почему:</b>
<div class="mx-auto" style="width: 300px;">
    <button class="btn btn-outline-dark me-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
            <path fill-rule="evenodd"
                  d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
        </svg>
        Войти
    </button>
    <button class="btn btn-outline-dark">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-person-lines-fill" viewBox="0 0 16 16">
            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
        </svg>
        Зарегистрироваться
    </button>
</div>
<br><br>
Да, те самые, кнопки <b>"Регистрация"</b> и <b>"Вход"</b>. А что, <b>система
    авторизации</b> очень нужна для любого современного веб-приложения;
с ее помощью разработчки, в первую очередь, определяют пользователей с доступом к ресурсу, а во все последующие, различными способами разграничивают этот
самый доступ. Примеров вторичной реализации множество, мы же идем по самому простому пути - определять доступных пользователей (отследить сообщения от анонимов на уровне кода, в нашем случае, невозможно)
и разграничивать контент для авторизованных и нет пользователей, вы уже сами видели.<br><br>
Вы, конечно, можете дойти до такой мысли, что нужно перейти в раздел <b>"Доска
    почета"</b> в самом низу страницы и кликнуть по любому предоставленному пользователю,
ну или самим попробовать отследить доступные адреса в коде и вручную перейти по ним, но вас рано или поздно все равно перебросит на
<b>страницу авторизации</b>.
Так что не нужно стараться ломать код во имя шалости или праздного интереса, однажды это сыграет плохую шутку. Лучше зарегистрироваться и стать
гостем нашей вечеринки (ну или всегда можно <b>сбросить
    пароль</b>, раз уж были пользователем, а регаться по-новой неохота).<br><br>
<b>Кстати, вот формы входа и регистрации:</b><br><br>
<div class="clearfix">
    <form class="fit-content float-start">
        <div>
            <div>
                <label class="form-label">Почта:</label>
                <input type="email" class="form-control">
            </div>
            <div>
                <label class="form-label">Пароль:</label>
                <input type="password" class="form-control">
            </div>
            <div>
                <label class="form-check-label">Запомнить меня:</label>
                <input class="form-check-input" type="checkbox" value="">
            </div>
            <div>
                <a class="text-danger">Забыли пароль?</a>
            </div>
            <div>
                <button type="button" class="btn btn-outline-info">Войти</button>
            </div>
            <div>
                <button type="button" class="btn btn-outline-warning">Еще не создали аккаунт?</button>
            </div>
        </div>
    </form>
    <form class="fit-content float-end">
        <div class="clearfix">
            <div class="profile-data float-start">
                <h3>Информация о вас:</h3>
                <div>
                    <label class="form-label">Имя:</label>
                    <input class="form-control">
                </div>
                <div>
                    <label class="form-label">Фамилия:</label>
                    <input class="form-control">
                </div>
                <div>
                    <label class="form-label">Дата рождения:</label>
                    <input type="date" class="form-control">
                </div>
                <div>
                    <label class="form-label">Номер телефона:</label>
                    <input class="form-control">
                </div>
            </div>
            <div class="login-data float-end">
                <h3>Данные для входа:</h3>
                <div>
                    <label class="form-label">Почта:</label>
                    <input type="email" class="form-control">
                </div>
                <div>
                    <label class="form-label">Пароль:</label>
                    <input type="password" class="form-control">
                </div>
                <div>
                    <label class="form-label">Подтвердите пароль:</label>
                    <input type="password" class="form-control">
                </div>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-outline-info">Регистрация</button>
        </div>
        <div>
            <button type="button" class="submit-button btn btn-outline-warning">У меня уже есть аккаунт</button>
        </div>
    </form>
</div>
<br>
<br>Ну вот, просто же, если не получается, то формы скажут, что именно было заполнено не так. Ну а если все прошло гладенько, то могу сказать одно:
<h3 align="center"><br><br>Добро пожаловать на Webby!</h3><br><br>
Ну что же, пользователь авторизован, почему бы и не показать основной контент, ради которого делался проект?<br><br>
А давайте. Первое, что можно наблюдать после авторизации - это новые блоки контента, среди которых есть <b>базовые</b>
(прописаны в корневом шаблоне <b>base.html</b>) и
<b>продвинутые</b> (для нас они все еще базовые, так как составляют основу приложения, но с технической точки зрения они расширяют формат базового шаблона, потому и продвинутые).
С базовыми все предельно просто, они будут маячить на экране весь сеанс.<br><br>
<b>К примеру, кнопки авторизации заменятся на вот эту:</b><br><br>
<div class="dropdown mx-auto" style="width: 200px;">
    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        Питер Паркер
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item">Профиль</a>
        <a class="dropdown-item">Мои чаты</a>
        <a class="dropdown-item">Настройки</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item">Выйти</a>
    </div>
</div><br><br>
Она позволит совершить базовые функции аккаунта: <b>перейти на профиль, чаты пользователя, настроить аккаунт или же
    вовсе выйти из него</b>.
К ним позже, далее по изменениям.<br><br>
<b>Сбоку появится навигационный сайдбар:</b><br><br>
<div class="p-3 bg-white mx-auto" style="width: 280px; border-radius: 10px 10px 10px 10px;">
    <span class="fs-4">Быстрый доступ</span>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a class="nav-link link-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-house-fill" viewBox="0 0 16 16">
                    `
                    <path fill-rule="evenodd"
                          d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    <path fill-rule="evenodd"
                          d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg>
                Главная
            </a>
        </li>
        <li>
            <a class="nav-link link-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd"
                          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
                Моя страница
            </a>
        </li>
        <li>
            <a class="nav-link link-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-chat-right-dots-fill" viewBox="0 0 16 16">
                    <path d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353V2zM5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                </svg>
                Чаты
            </a>
        </li>
        <li>
            <a class="nav-link link-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd"
                          d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                </svg>
                Поиск собеседников
            </a>
        </li>
        <li>
            <a class="nav-link link-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                </svg>
                Создать объявление
            </a>
        </li>
    </ul>
</div><br><br>
По кнопкам: <b>Главная - главная</b>, ничего сверхъестественного; <b>Моя страница - переход на профиль;</b> <b>Чаты -
    переход на чаты;</b>
<b>Поиск собеседников - поиск пользователей по номеру телефона, имени или
    фамилии</b>, скрыт в разделе чатов за ненадобностью, но позже был перемещен в навигацию, там появилось место;
<b>Создать объявление - прикрепить на свой аккаунт новый объект "объявление" со своими параметрами</b>, об <b>объявлениях</b> позже.
<br><br>
Это были возможности <b>базового
    шаблона</b>, они, в принципе, доступны абсолютно всем страницам, так как не выбиваются из контекста,
ну и позволяют перейти в другие разделы. Очевидно, что далеко с таким функционалом не уедешь, но и контекст задачи нужно сохранять,
именно поэтому остальные <b>шаблоны</b> были спроектированы так, что просто подхватывают фишки <b>базового
    шаблона</b>, предлагая, при этом,
свой. Вот теперь, когда про все возможные простейшие сценарии использования было сказано вполне, можно поговорить и про
<b>продвинутые</b> штуки.<br><br>
<b>Первое, что увидит пользователь при авторизации на главной странице:</b><br><br><br>
<form>
    <div class="clearfix">
        <h2 class="float-right d-inline">Недавние объявления</h2>
        <button type="button" class="btn btn-outline-success float-end">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
            </svg>
            Создать объявление
        </button>
    </div>
    <div class="p-2 border-top border-bottom">
        <div class="clearfix">
            <div>
                        <span>
                            <b class="fs-4">Продам скейт</b>
                            <small class="text-secondary">#1</small>
                        </span>
                <button type="button" class="btn btn-outline-warning float-end">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd"
                              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                    Изменить
                </button>
                <button type="button" class="btn btn-outline-danger me-2 float-end">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-bag-x-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM6.854 8.146a.5.5 0 1 0-.708.708L7.293 10l-1.147 1.146a.5.5 0 0 0 .708.708L8 10.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 10l1.147-1.146a.5.5 0 0 0-.708-.708L8 9.293 6.854 8.146z"/>
                    </svg>
                    Удалить
                </button>
            </div>
            <p>Больше не нужен, появился более быстрый транспорт</p>
            <b>1000 ₽</b>
            <div class="float-end">
                <a class="text-reset"><b>Питер Паркер</b></a>
            </div>
        </div>
    </div>
    <div class="p-2 border-top border-bottom">
        <div class="clearfix">
            <div>
                        <span>
                            <b class="fs-4">Фотограф на полставки</b>
                            <small class="text-secondary">#2</small>
                        </span>
            </div>
            <p>Оплата ТОЛЬКО после выдачи фотографий Человека-Паука</p>
            <b>15 ₽</b>
            <div class="float-end">
                <a class="text-reset"><b>Джей Джона Джеймсон</b></a>
            </div>
        </div>
    </div>
</form><br><br>
<b>Доска объявлений</b> - эта вещь выводит последние объявления; в самом верху пользователю предлагается <b>создать
    объявление</b>,
а те объявления, которые принадлежат текущему пользователю, можно <b>отредактировать</b> или <b>удалить</b>.
Да, слишком высокая концетрация слова <b>"объявление"</b>, так что пока горячо, продолжим про них.<br><br>
<b>Объявления</b> - особый объект, одна из ключевых фишек приложения. Но для простого пользователя это все еще
реализация реальных объявлений, со всеми ключевыми, и самое главное, настраиваемыми самим же пользователем параметрами:
<b>заголовок</b>, <b>описание объявления</b>, <b>стоимость предоставляемых\запрашиваемых услуг</b> и <b>затрагиваемые
    теги, по которым идет персональный подбор пользователю на доске</b>
(про систему тегов-интересов позже). По сути, идея хорошая, да и реализация не подводит, но на данный момент развития не имеет
смысловой нагрузки, то есть, это всего лишь шуточные объявления, которые даже успешно закрыть не получится, потому что
нет ни клиента, ни заказчика, ни базовой экономики, как таковых элементов из реального мира. Может быть, когда-то в будущем
идея будет доведена до логического конца, но именно сейчас это просто хорошая заготовка для реализации систем базовой экономики и микротранзакций,
которые уже точно найдут своего ценителя.<br><br>
Движемся дальше, то есть, перейдем в свой <b>профиль</b>.<br><br>
<b>Типичная страница пользователя будет выглядеть так:</b><br><br>
<form class="clearfix">
    <div class="clearfix">
        <div class="clearfix border-bottom">
            <h3 class="float-start">Питер Паркер</h3>
            <a class="float-start link-dark">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                         class="bi bi-gear-fill"
                         viewBox="0 0 16 16">
                        <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                    </svg>
                </div>
            </a>
        </div>
        <div class="clearfix">
            <img src="static/avatars/pizzapaka.jpg" class="profile-pic rounded-top w-25 h-25 float-start"
                 alt="Упс! Аватарка не найдена!">
            <div class="float-start w-50">
                <h3>О пользователе:</h3>
                <p>Номер телефона: <b>+19031002525</b></p>
                <p>День рождения: <b>10.08.2001</b></p>
                <p>Дата регистрации: <b>10.03.2021</b></p>
                <p>Баллы активности: <b>17042</b> (<b>Владыка чатов</b>)</p>
                <a class="text-reset">
                    <p>
                        Место в рейтинге: <b>1</b>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-x-diamond-fill" viewBox="0 0 16 16">
                            <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L4.047 3.339 8 7.293l3.954-3.954L9.049.435zm3.61 3.611L8.708 8l3.954 3.954 2.904-2.905c.58-.58.58-1.519 0-2.098l-2.904-2.905zm-.706 8.614L8 8.708l-3.954 3.954 2.905 2.904c.58.58 1.519.58 2.098 0l2.905-2.904zm-8.614-.706L7.292 8 3.339 4.046.435 6.951c-.58.58-.58 1.519 0 2.098l2.904 2.905z"/>
                        </svg>
                    </p>
                </a>
                <p>Интересы:
                    <b>Радиотехника, Робототехника, Музыка, Коллекционирование, Портативная техника</b>
                </p>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-outline-dark w-25 rounded-bottom">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-person-bounding-box" viewBox="0 0 16 16">
                    <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"/>
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                </svg>
                Сменить аватарку
            </button>
            <button type="button" class="btn btn-outline-dark w-25 rounded-bottom">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-chat-square-text-fill" viewBox="0 0 16 16">
                    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
                </svg>
                Написать сообщение
            </button>
        </div>
        <div class="clearfix">
            <h2 class="float-right d-inline">Объявления пользователя</h2>
        </div>
        <div class="p-2 border-top border-bottom">
            <div class="clearfix">
                <div>
                        <span>
                            <b class="fs-4">Продам скейт</b>
                            <small class="text-secondary">#1</small>
                        </span>
                    <button type="button" class="btn btn-outline-warning float-end">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd"
                                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                        Изменить
                    </button>
                    <button type="button" class="btn btn-outline-danger me-2 float-end">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-bag-x-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM6.854 8.146a.5.5 0 1 0-.708.708L7.293 10l-1.147 1.146a.5.5 0 0 0 .708.708L8 10.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 10l1.147-1.146a.5.5 0 0 0-.708-.708L8 9.293 6.854 8.146z"/>
                        </svg>
                        Удалить
                    </button>
                </div>
                <p>Больше не нужен, появился более быстрый транспорт</p>
                <b>1000 ₽</b>
                <div class="float-end">
                    <a class="text-reset"><b>Питер Паркер</b></a>
                </div>
            </div>
        </div>
    </div>
</form><br><br>
Разбираем по деталям. Из доступных владельцу профиля: <b>шестеренка рядом с именем - настрока профиля</b>,
<b>"Сменить аватарку" - в прямом смысле изменить аватар профиля, если текущий не устраивает</b>, ну и добавим сюда
адаптированную <b>доску объявлений</b> исключительно с объявлениями пользователя, не упуская возможность <b>редактировать</b>
или <b>удалять</b>. Доступны всем остальным только две кнопки - <b>"Написать
    сообщение"</b>, переводящая, непосредственно,
на диалог с пользователем, и <b>камушек рядом с позицией в топе - переход на сам топ</b>. Профиль довольно прост, но
при этом остается профилем - имя пользователя, его личные данные (которые в будущем тоже можно будет попробовать сортировать
по приватности), социальная активность, интересы - все можно узнать, не отходя от кассы.<br><br>
<b>Система социальной активности</b> - основа для <b>рейтинга</b> и <b>системы объявлений</b>, но больше всего
от нее берет именно рейтинг. Была введена для дополнительной мотивации пользователя на более продолжительные сеансы.
Заключается в банальном фарме символов с сообщений, оправдываемом тем, что от на рейтинг представляет из себя <b>баллы
    активности</b>,
которые может иметь пользователь, на основе которых он может иметь определенный <b>ранг</b> и место в <b>топе</b>.
Идея также не нова, но хороша своей простотой и заманчивастью, ведь в Интернете уже успело вырасти поколение людей, готовых
без видимого результата, способного изменить жизнь, сидеть и набивать бесконечные очки ради убийства времени и соревнования
с такими же фармерами.<br><br>
Настал гвоздь программы - <b>сообщения</b>. Основа всего приложения в целом вместе с авторизацией.<br><br>
<b>Так выглядит список чатов:</b><br><br>
<form>
    <div>
        <button type="button" class="btn btn-outline-dark w-25 rounded-bottom">Поискать собеседника</button>
    </div>
    <div>
        <h3 class="border-bottom p-1">Мои чаты</h3>
        <a class="text-reset">
            <div class="border-bottom p-2 text-truncate">
                <b>Джей Джона Джеймсон</b>
                <p>Вы: Слышь, старик, я сваливаю с твоего чернушного предприятия, фотки на столе, если ты их вообще
                    захочешь видеть!</p>
                <span class="text-secondary">19.01.2020 13:44</span>
            </div>
        </a>
        <a class="text-reset">
            <div class="border-bottom p-2 text-truncate">
                <b>Мэри Джейн</b>
                <p>Мэри Джейн: Дорогой, не хочешь ли прогуляться по парку этой ночью?</p>
                <span class="text-secondary">19.01.2020 21:20</span>
            </div>
        </a>
    </div>
</form><br><br>
<b>Так выглядит поиск:</b><br><br>
<form>
    <div class="number_input_box">
        <p>Введите номер телефона, имя или фамилию пользователя</p>
        <input class="form-control" type="text" placeholder="М">
        <button type="button">Искать</button>
    </div>
    <div class="found_user">
        <p>Результаты поиска:</p>
        <div class="dropdown">
            <button class="btn btn-outline-dark dropdown-toggle" type="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Мэри Джейн (+10951809095)
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item">Профиль</a>
                <a class="dropdown-item">Перейти к разговору</a>
            </div>
        </div>
    </div>
</form><br><br>
<b>А так выглядит само окно диалога:</b><br><br>
<form class="clearfix w-75">
    <div>
        <div class="border-bottom">
            <h3>
                <a class="text-reset">Джей Джона Джеймсон</a>
            </h3>
        </div>
        <div>
            <div>
                <div class="text-center">19.01.2020</div>
                <b>
                    <a class="text-reset">Джей Джона Джеймсон</a>
                </b>
                <span class="text-secondary">07:30</span>
                <br>
                Как и всегда, жду фотографии до обеда!
            </div>
            <div>
                <b>
                    <a class="text-reset">Питер Паркер</a>
                </b>
                <span class="text-secondary">08:01</span>
                <br>
                Принято, босс!
            </div>
            <div>
                <b>
                    <a class="text-reset">Джей Джона Джеймсон</a>
                </b>
                <span class="text-secondary">11:00</span>
                <br>
                Питер, черт тебя подери! Где мои фотографии, время час до полудня!
            </div>
            <div>
                <b>
                    <a class="text-reset">Питер Паркер</a>
                </b>
                <span class="text-secondary">13:44</span>
                <br>
                Слышь, старик, я сваливаю с твоего чернушного предприятия, фотки на столе, если ты их вообще захочешь
                видеть!
            </div>
        </div>
        <div class="border border-dark rounded clearfix">
            <input type="email" class="form-control w-75 border-0 p-1 float-start" placeholder="Напишите сообщение...">
            <button type="button" class="form-control border-top-0 border-end-0 border-bottom-0 float-end p-1">
                Отправить
            </button>
        </div>
    </div>
</form><br><br>
Все три функции гармонично накладываются друг на друга, образуя единую систему. Если у пользователя уже есть начатые
<b>диалоги</b>, то он их запросто продолжит, если же нет, то что мешает ему <b>найти собеседника</b> через поиск?
Ну и проще всего рассказать про сам <b>чат</b>. Образец в разделе не совсем то, что присутствует в самом приложении,
но он также может показать, <b>кто отправил</b>, <b>когда</b> и <b>во сколько</b>, а снизу есть <b>окошко для ввода
    сообщения</b> и
кнопка <b>"Отправить"</b> - на этом все! Именно поэтому в начале то и было сказано, что с одними только сообщениями
приложение было весьма суховатым. Сообщение улетает куда-то в базу данных, чтобы потом рукастые программисты
могли работать с ним, но для нас это много значит, считай, полноценная пересылка сообщений друг другу.<br><br>
Вот такой он
<b>Webby</b> - проект учебный, со всеми присущими ему сучками и задоринками, но у него точно есть потенциал роста,
ну или, на крайний случай, с него можно будет подковыривать код для аналогичных проектов, а пользоваться им или нет -
вопрос пока не решимый, нет возможности предложить достаточное количество функций среднестатистическому пользователю
Интернета.
</p>
{% endblock %}