{% extends "base.html" %}

{% block content %}
<h1 align="center">О проекте</h1>
<h6><br>Знакомьтесь, это <b>Webby</b> - мессенджер пусть и не самого первого сорта, но с душами его создателей (если они не успели продать их дьяволу за 100 баллов в рейтинг).<br><br></h6>
<p>
    В таком случае очевидно, что его первостепенная задача - <b>пересылка сообщений</b> между пользователем А и пользователем Б,
    но тогда затея была бы весьма суховата, поэтому на основу любого мессенджера было положено несколько значительных изменений.<br><br>
    Ну что же тогда, давайте уже опобруем оплот библиотек <b>Flask</b> вместе с её ответвлениями и множества других...<br><br>
    Не идет? Или не можете понять, почему нет всего прекрасного, кроме скудненького роадмапа, заголовка и "подбородка" с никому не нужной, кроме важных дядек в пиджаках с портфелями, информацией?<br><br>
    <b>А вот почему:</b>
    <div class="mx-auto" style="width: 300px;">
    <a class="btn btn-outline-dark" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
              <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
            </svg>
            Зарегистрироваться
    </a>
    <a class="btn btn-outline-dark me-2" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
              <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg>
            Войти
    </a>
    </div>
    <br><br>
    Да, те самые, кнопки "Регистрация" и "Вход". А что, <b>система авторизации</b> очень нужна для любого современного веб-приложения;
    с ее помощью разработчки, в первую очередь, определяют пользователей с доступом к ресурсу, а во все последующие, различными способами разграничивают этот
    самый доступ. Примеров вторичной реализации множество, мы же идем по самому простому пути - определять доступных пользователей (отследить сообщения от анонимов на уровне кода, в нашем случае, невозможно)
    и разграничивать контент для авторизованных и нет пользователей, вы уже сами видели.<br><br>
    Вы, конечно, можете дойти до такой мысли, что нужно перейти в раздел <b>"Доска почета"</b> в самом низу страницы и кликнуть по любому предоставленному пользователю,
    ну или самим попробовать отследить доступные адреса в коде и вручную перейти по ним, но вас рано или поздно все равно перебросит на <b>страницу авторизации</b>.<br><br>
    <b>Кстати, вот и она:</b>
</p>
{% endblock %}