{% extends "base.html" %}

{% block content %}
{% set message_space = namespace(message='') %}
<form method="post" novalidate class="w-75">
    <div>
        {{ form.csrf_token }}
    </div>
    <div>
        {% for field in form if field.name not in ['csrf_token', 'submit_field', 'tags_field'] %}
        <div>
            {{ field.label() }}
            <br>
            {% if field.errors %}
            {{ field(class="error_field") }}
            {% set message_space.message = field.errors[0] %}
            {% else %}
            {{ field(class="normal_field") }}
            {% endif %}
        </div>
        {% endfor %}
        <div>
            {{ form.tags_field.label() }}
            <div class="scroll-interests border">{{ form.tags_field() }}</div>
        </div>
        <div class="message">{{ message_space.message }}</div>
        <div class="message">{{ message }}</div>
        <div>
            {{ form.submit_field(class="submit-button btn btn-outline-info") }}
        </div>
    </div>
</form>
{% endblock %}