{% extends "base.html" %}

{% block content %}
    <h2>Webby API</h2>
    <b>Для работы с Webby API необходимо <a href="/api/get_token">получить токен</a>.</b>
    <h4>С помощью нашего API вы сможете:</h4>
    <ol>
        <li>
            Сообщения:
            <ul>
                <li>Получение своих сообщений в формате json</li>
                <li>Отправление сообщений</li>
            </ul>
        </li>
        <li>
            Профиль:
            <ul>
                <li>Получение данных своего профиля в формате json</li>
                <li>Изменение данных своего профиля</li>
                <li>Получение общедоступных данных о других пользователях</li>
            </ul>
        </li>
        <li>
            Объявления:
            <ul>
                <li>Получение всех объявлений в формате json</li>
                <li>Получение объявлений других пользователей в формате json</li>
                <li>Получение своих объявлений в формате json</li>
                <li>Изменение своих объявлений</li>
                <li>Удаление своих объявлений</li>
            </ul>
        </li>
    </ol>
{% endblock %}