{% extends "base.html" %}

{% block content %}
    <h2>Webby API</h2>
    <h4>С помощью нашего API вы сможете:</h4>
    <ol>
        <li>
            Сообщения:
            <ul>
                <li>Получение своих чатов с определенным пользователем в формате json</li>
                <li>Отправление сообщений</li>
            </ul>
        </li>
        <li>
            Профиль:
            <ul>
                <li>Получение данных своего профиля в формате json</li>
                <li>Изменение данных своего профиля</li>
                <li>Получение общедоступных данных о других пользователях в формате json</li>
            </ul>
        </li>
        <li>
            Объявления:
            <ul>
                <li>Получение актуальных объявлений в формате json</li>
                <li>Получение объявлений пользователей в формате json</li>
                <li>Создание объявлений</li>
                <li>Изменение своих объявлений</li>
                <li>Удаление своих объявлений</li>
            </ul>
        </li>
    </ol>
{% endblock %}