{% extends "base.html" %}

{% block content %}
<form>
    <div>
        <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action text-center" href="#list-item-1">Получение токена API</a>
            <a class="list-group-item list-group-item-action text-center" href="#list-item-2">Профили</a>
            <a class="list-group-item list-group-item-action text-center" href="#list-item-3">Чаты</a>
            <a class="list-group-item list-group-item-action text-center" href="#list-item-4">Объявления</a>
            <a class="list-group-item list-group-item-action text-center" href="#list-item-5">Интересы</a>
        </div>
        <div>
            <div>
                <h4 id="list-item-1">Получение токена API</h4>
                <p>Для доступа к вашим личным данным через Webby API необходимо получить токен.<br>
                    <b class="text-danger">Токен действителен в течении часа с момента создания, по истечении данного
                        срока он будет деактивирован.</b></p>
                <p>Запрос [<b class="text-primary">GET</b>]:<cite class="bg-light">/api/login</cite>
                    с использованием поля авторизации HTTPBasicAuth где вы должны указать свой логин и пароль в Webby.
                </p>
                <p>
                    Ответ: ответ в формате json с единственным ключом <i>token</i> по которому будет находиться токен
                    API.
                </p>
                <p>Ошибки:</p>
                <ul class="ms-2">
                    <li>'Could not verify' - в запросе не указаны данные для авторизации</li>
                    <li>'Incorrect password' - в запросе указан неверный пароль</li>
                    <li>'Not Found' - пользователя с таким логином не существует</li>
                </ul>
            </div>


            <div>
                <h4 id="list-item-2">Профили</h4>
                <p>С помощью методов профилей вы сможете получить данные о своем или чужом профиле, а также изменить
                    данные
                    своего профиля</p>
                <p>Запрос [<b class="text-primary">GET</b>]: <cite class="bg-light">/api/users/{id
                    пользователя}</cite>,
                    (id пользователя указан в адресе страницы его профиля) с использованием параметра "x-access-token"
                    где
                    вы должны указать свой токен.
                </p>
                <p>
                    Ответ: ответ в формате json:
                </p>
                <ul class="ms-2">
                    <li>
                        <i>"user{id}"</i>
                        <ul>
                            <li><i>"id"</i>: Число - id пользователя</li>
                            <li><i>"name"</i>: Строка - имя пользователя</li>
                            <li><i>"surname"</i>: Строка - фамилия пользователя</li>
                            <li><i>"birthday"</i>: Дата - день рождения пользователя</li>
                            <li><i>"registration_time"</i>: Дата - время регистрации пользователя</li>
                            <li><i>"phone_number"</i>: Строка - номер телефона пользователя</li>
                            <li><i>"email"</i>: Строка - адрес email пользователя (отображается только если вы
                                запрашиваете
                                данные своего профиля)
                            </li>
                            <li><i>"interests"</i>: Словарь - интересы пользователя
                                <ul>
                                    <li><i>"id"</i>: Число - id интереса</li>
                                    <li><i>"title"</i>: Строка - название интереса</li>
                                </ul>
                            </li>
                            <li><i>"rank"</i>: Словарь - ранг пользователя
                                <ul>
                                    <li><i>"id"</i>: Число - id ранга</li>
                                    <li><i>"title"</i>: Строка - название ранга</li>
                                </ul>
                            </li>
                            <li><i>"rating"</i>: Число - количество баллов рейтинга пользователя</li>
                        </ul>
                    </li>
                </ul>
                <p>Ошибки:</p>
                <ul class="ms-2">
                    <li>'Token is invalid' - в запросе указан неверный токен</li>
                    <li>'Token is expired' - в запросе указан просроченный токен</li>
                    <li>'Bad request' - в запросе отсутствует токен</li>
                    <li>'Not found' - в запросе указан id несуществующего пользователя</li>
                </ul>

                <p>Запрос [<b class="text-warning">PUT</b>]: <cite class="bg-light">/api/users</cite>,
                    с использованием параметра "x-access-token" где вы должны указать свой токен, а также приложите к
                    запросу json с указанными ниже ключами (необязательно указывать все ключи, достаточно указать те
                    поля профиля, значение которых вам надо изменить).
                </p>
                <p>Структура json запроса:</p>
                <ul class="ms-2">
                    <li><i>"name"</i>: Строка - Новое имя</li>
                    <li><i>"surname"</i>: Строка - Новая фамилия</li>
                    <li><i>"birthday"</i>: Дата - Новая дата рождения</li>
                    <li><i>"phone_number"</i>: Строка - Новый номер телефона</li>
                    <li><i>"interests"</i>: Словарь - Новые интересы
                        <ul>
                            <li><i>"extend"</i>: true/false - добавить новые интересы к уже имеющимся (по умолчанию)
                            </li>
                            <li><i>"replace"</i>: true/false - заменить новыми интересами уже имеющиеся</li>
                            <li><i>"ids"</i>: Список - id новых интересов (см. раздел <a
                                    href="#list-item-5">"Интересы"</a>)
                            </li>
                        </ul>
                    </li>
                </ul>
                <p>
                    Ответ: ответ в формате json который содержит сообщение об успешной операции изменения.
                </p>
                <p>Ошибки:</p>
                <ul class="ms-2">
                    <li>'Token is invalid' - в запросе указан неверный токен</li>
                    <li>'Token is expired' - в запросе указан просроченный токен</li>
                    <li>'Bad request' - в запросе отсутствует токен; в json указаны лишние ключи; отсутствует список <i>"ids"</i>
                        в <i>"interests"</i>; указанные в <i>"interests"</i> интересы не существуют
                    </li>
                </ul>
            </div>


            <div>
                <h4 id="list-item-3">Чаты</h4>
                <p>С помощью методов чатов вы сможете получать и отправлять сообщения.</p>
                <p>Запрос [<b class="text-primary">GET</b>]: <cite class="bg-light">/api/messages/{id
                    пользователя}</cite> (id пользователя указан в адресе страницы его профиля или вашего чата с ним),
                    с использованием параметра "x-access-token" где вы должны указать свой токен.
                </p>
                <p>
                    Ответ: ответ в формате json:
                </p>
                <ul class="ms-2">
                    <li>
                        <i>"chat_with_{id}" - Спиок словарей с сообщениями</i>
                        <ul>
                            <li><i>"id"</i>: Число - id сообщения</li>
                            <li><i>"from_id"</i>: Число - id отправителя</li>
                            <li><i>"to_id"</i>: Число - id получателя</li>
                            <li><i>"created_at"</i>: Дата - время отправления сообщения</li>
                            <li><i>"content"</i>: Словарь - содержание сообщения
                                <ul>
                                    <li><i>"content"</i>: Строка - содержание сообщения</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p>Ошибки:</p>
                <ul class="ms-2">
                    <li>'Token is invalid' - в запросе указан неверный токен</li>
                    <li>'Token is expired' - в запросе указан просроченный токен</li>
                    <li>'Bad request' - в запросе отсутствует токен</li>
                    <li>'Not found' - в запросе указан id несуществующего пользователя; у вас отсутстыуют чаты с
                        пользователем под указаным id
                    </li>
                </ul>

                <p>Запрос [<b class="text-success">POST</b>]: <cite class="bg-light">/api/messages/{id
                    пользователя}</cite>,
                    (id пользователя указан в адресе страницы его профиля или вашего чата с ним) с использованием
                    параметра "x-access-token" где вы должны указать свой токен, также приложите к запросу json с
                    указанными ниже ключами.
                </p>
                <p>Структура json запроса:</p>
                <ul>
                    <li><i>"content"</i>: Строка - содержание сообщения</li>
                </ul>
                <p>
                    Ответ: ответ в формате json который содержит сообщение об успешной операции отправки.
                </p>
                <p>Ошибки:</p>
                <ul class="ms-2">
                    <li>'Token is invalid' - в запросе указан неверный токен</li>
                    <li>'Token is expired' - в запросе указан просроченный токен</li>
                    <li>'Bad request' - в запросе не указан токен; в запросе отсутствует json; json-запрос неправильного
                        содержания
                    </li>
                    <li>'Not found' - в запросе указан id несуществующего пользователя</li>
                </ul>
            </div>


            <div>
                <h4 id="list-item-4">Объявления</h4>
                <p>С помощью методов объявлений вы сможете получить данные о всех актуальных объявлениях, об актуальных
                    объявлениях пользователя, а также создавать, изменять и удалять свои объявления</p>
                <p>Запрос [<b class="text-primary">GET</b>]: <cite class="bg-light">/api/ads</cite>,
                    с использованием параметра "x-access-token" где вы должны указать свой токен.
                </p>
                <p>
                    Ответ: ответ в формате json:
                </p>
                <ul class="ms-2">
                    <li>
                        <i>"ads"</i>: Список - список 100 последних объявлений
                        <ul>
                            <li><i>"id"</i>: Число - id объявления</li>
                            <li><i>"title"</i>: Строка - название объявления</li>
                            <li><i>"price"</i>: Число - стоимость объявления</li>
                            <li><i>"created_at"</i>: Дата - время создания объявления</li>
                            <li><i>"content"</i>: Словарь - содержание объявления
                                <ul>
                                    <li><i>"content"</i>: Строка - содержание объявления</li>
                                </ul>
                            </li>
                            <li><i>"interests"</i>: Список - тэги объявления
                                <ul>
                                    <li><i>"id"</i>: Число - id интереса</li>
                                    <li><i>"title"</i>: Строка - название интереса</li>
                                </ul>
                            </li>
                            <li><i>"author"</i>: Словарь - автор объявления
                                <ul>
                                    <li>См. раздел <a href="#list-item-2">"Профили"</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p>Ошибки:</p>
                <ul class="ms-2">
                    <li>'Token is invalid' - в запросе указан неверный токен</li>
                    <li>'Token is expired' - в запросе указан просроченный токен</li>
                    <li>'Bad request' - в запросе отсутствует токен</li>
                </ul>

                <p>Запрос [<b class="text-primary">GET</b>]: <cite class="bg-light">/api/users/{id
                    пользователя}/ads</cite> (id пользователя указан в адресе страницы его профиля или вашего чата с
                    ним), с использованием параметра "x-access-token" где вы должны указать свой токен.
                </p>
                <p>
                    Ответ: ответ в формате json:
                </p>
                <ul class="ms-2">
                    <li>
                        <i>"user{id пользователя}_ads"</i>
                        <ul>
                            <li>См формат ответа <a href="#list-item-4">предыдущего запроса</a></li>
                        </ul>
                    </li>
                </ul>
                <p>Ошибки:</p>
                <ul class="ms-2">
                    <li>'Token is invalid' - в запросе указан неверный токен</li>
                    <li>'Token is expired' - в запросе указан просроченный токен</li>
                    <li>'Bad request' - в запросе отсутствует токен</li>
                    <li>'Not found' - в запросе указан id несуществующего пользователя</li>
                </ul>


                <p>Запрос [<b class="text-success">POST</b>]: <cite class="bg-light">/api/ads</cite>,
                    с использованием параметра "x-access-token" где вы должны указать свой токен, также приложите к
                    запросу json с указанными ниже ключами.
                </p>
                <p>Структура json запроса:</p>
                <ul>
                    <li><i>"title"</i>: Строка - название объявления</li>
                    <li><i>"price"</i>: Число - стоимость объявления</li>
                    <li><i>"content"</i>: Строка - содержание объявления</li>
                    <li><i>"interests"</i>: Словарь - тэги объявления (необязательный ключ)
                        <ul>
                            <li><i>"ids"</i>: Список - id интересов (см. раздел <a href="#list-item-5">"Интересы"</a>)
                            </li>
                        </ul>
                    </li>
                </ul>
                <p>
                    Ответ: ответ в формате json который содержит сообщение об успешной операции создания.
                </p>
                <p>Ошибки:</p>
                <ul class="ms-2">
                    <li>'Token is invalid' - в запросе указан неверный токен</li>
                    <li>'Token is expired' - в запросе указан просроченный токен</li>
                    <li>'Bad request' - в запросе не указан токен; в запросе отсутствует json; json-запрос неправильного
                        содержания; типы полей не соответствуют содержанию; отсутствует список <i>"ids"</i> по ключу <i>"interests"</i>;
                        указанные в <i>"interests"</i> интересы не существуют
                    </li>
                </ul>


                <p>Запрос [<b class="text-warning">PUT</b>]: <cite class="bg-light">/api/ads/{id объявления}</cite>
                    (id объявления указан рядом с его названием),
                    с использованием параметра "x-access-token" где вы должны указать свой токен, а также приложите к
                    запросу json с указанными ниже ключами (необязательно указывать все ключи, достаточно указать те
                    поля объявления, значение которых вам надо изменить).
                </p>
                <p>Структура json запроса:</p>
                <ul>
                    <li><i>"title"</i>: Строка - новое название объявления</li>
                    <li><i>"price"</i>: Число - новае стоимость объявления</li>
                    <li><i>"content"</i>: Строка - новое содержание объявления</li>
                    <li><i>"interests"</i>: Словарь - новые тэги объявления
                        <ul>
                            <li><i>"extend"</i>: true/false - добавить новые интересы к уже имеющимся (по умолчанию)
                            </li>
                            <li><i>"replace"</i>: true/false - заменить новыми интересами уже имеющиеся</li>
                            <li><i>"ids"</i>: Список - id новых интересов (см. раздел <a
                                    href="#list-item-5">"Интересы"</a>)
                            </li>
                        </ul>
                    </li>
                </ul>
                <p>
                    Ответ: ответ в формате json который содержит сообщение об успешной операции изменения.
                </p>
                <p>Ошибки:</p>
                <ul class="ms-2">
                    <li>'Token is invalid' - в запросе указан неверный токен</li>
                    <li>'Token is expired' - в запросе указан просроченный токен</li>
                    <li>'Bad request' - в запросе отсутствует токен; в запросе отсутствует json; в json указаны лишние
                        ключи; типы полей не соответствуют содержанию; отсутствует список <i>"ids"</i> в
                        <i>"interests"</i>; указанные в <i>"interests"</i> интересы не существуют
                    </li>
                    <li>'Not found' - объявления, с id указанным в запросе, не существует</li>
                    <li>'Access denied' - вы не являетесь автором объявлления с id, указанным в запросе</li>
                </ul>


                <p>Запрос [<b class="text-danger">DELETE</b>]: <cite class="bg-light">/api/ads/{id объявления}</cite>
                    (id объявления указан рядом с его названием), с использованием параметра "x-access-token" где вы
                    должны указать свой токен.
                </p>
                <p>
                    Ответ: ответ в формате json который содержит сообщение об успешной операции удаления.
                </p>
                <p>Ошибки:</p>
                <ul class="ms-2">
                    <li>'Token is invalid' - в запросе указан неверный токен</li>
                    <li>'Token is expired' - в запросе указан просроченный токен</li>
                    <li>'Bad request' - в запросе отсутствует токен
                    </li>
                    <li>'Not found' - объявления, с id указанным в запросе, не существует</li>
                    <li>'Access denied' - вы не являетесь автором объявлления с id, указанным в запросе</li>
                </ul>
            </div>


            <div>
                <h4 id="list-item-5">Интересы</h4>
                <p>С помощью метода интересов вы сможете получить список всех интересов для их указания в профиле или
                    объявлениях</p>
                <p>Запрос [<b class="text-primary">GET</b>]: <cite class="bg-light">/api/interests</cite>,
                    с использованием параметра "x-access-token" где вы должны указать свой токен.
                </p>
                <p>
                    Ответ: ответ в формате json:
                </p>
                <ul class="ms-2">
                    <li>
                        <i>"interests"</i>: Список - интересы
                        <ul>
                            <li><i>"id"</i>: Число - id интереса</li>
                            <li><i>"title"</i>: Строка - название интереса</li>
                        </ul>
                    </li>
                </ul>
                <p>Ошибки:</p>
                <ul class="ms-2">
                    <li>'Token is invalid' - в запросе указан неверный токен</li>
                    <li>'Token is expired' - в запросе указан просроченный токен</li>
                    <li>'Bad request' - в запросе отсутствует токен</li>
                </ul>
            </div>
        </div>
    </div>
</form>
{% endblock %}