<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>НекитЧат</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
    crossorigin="anonymous">
</head>
<body>
<header>
    <a class="btn btn-outline-dark register" href="/register">Зарегистрироваться</a>
    <a class="btn btn-outline-dark login" href="/login">Логин</a>
    <div class="logo">
        <h1 class="nekit">Некит</h1>
        <h1 class="chats">Чаты</h1>
    </div>
</header>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>