<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>НекитЧат</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
    crossorigin="anonymous">
</head>
<body>
<header>
    {% if current_user.is_authenticated %}
        <div class="dropdown float-end">
            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ current_user.name }} {{ current_user.surname }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/profile/{{ current_user.id }}">Профиль</a>
                <a class="dropdown-item" href="/logout">Выйти</a>
            </div>
        </div>
    {% else %}
        <a class="btn btn-outline-dark register float-end" href="/register">Зарегистрироваться</a>
        <a class="btn btn-outline-dark login float-end" href="/login">Войти</a>
    {% endif %}
    <div class="logo">
        <a href="/">
            <p class="nekit">Некит</p>
            <p class="chats">Чаты</p>
        </a>
    </div>
</header>
<main role="main" class="container clearfix">
    {% block content %}{% endblock %}
</main>
</body>
</html>