{% extends "base.html" %}

{% block content %}
<form class="float_container w-75" method="post" novalidate>
    <div>
        <div>
            {{ form.csrf_token }}
        </div>
        <div class="border-bottom">
            <h3>{{ companion.name }} {{ companion.surname }}</h3>
        </div>
        {% for msg in messages %}
            <div>
                <span>{{ msg.sender.name }} {{ msg.sender.surname }}</span>
                <span>{{ msg.created_at.hour }}:{{ msg.created_at.minute }}:{{ msg.created_at.second }}</span>
                <br>{{ msg.content.content }}
            </div>
        {% endfor %}
        <div class="message_input_box" id="page-bottom">
            {{ form.message_field(class="message-field w-75", placeholder="Напишите сообщение...") }}
            {{ form.send_field() }}
        </div>
    </div>
</form>
{% endblock %}