{% extends "base.html" %}

{% block content %}
<form class="clearfix w-75" method="post" novalidate>
    <div>
        <div>
            {{ form.csrf_token }}
        </div>
        <div class="border-bottom">
            <h3>
                <a href="/profile/{{ companion.id }}" class="text-reset">{{ companion.name }} {{ companion.surname
                    }}</a>
            </h3>
        </div>
        {% if messages %}
        <div>
            {% for msg in messages %}
            <div id="{% if loop.last %}bottom{% endif %}">
                {% if loop.previtem is defined %}
                {% if (loop.previtem.created_at.day != msg.created_at.day) or (loop.previtem.created_at.month !=
                msg.created_at.month)
                or (loop.previtem.created_at.year != msg.created_at.year) %}
                <div class="text-center">{{ msg.created_at.year }}-{{ msg.created_at.month }}-{{ msg.created_at.day }}
                </div>
                {% endif %}
                {% if loop.previtem.sender != msg.sender or loop.previtem.created_at.minute != msg.created_at.minute %}
                <b>
                    <a href="/profile/{{ msg.sender.id }}" class="text-reset">{{ msg.sender.name }} {{
                        msg.sender.surname }}</a>
                </b>
                <span class="text-secondary">{{ msg.created_at.hour }}:{{ msg.created_at.minute }}</span>
                <br>
                {% endif %}
                {% else %}
                <div class="text-center">{{ msg.created_at.year }}-{{ msg.created_at.month }}-{{ msg.created_at.day }}
                </div>
                <b>
                    <a href="/profile/{{ msg.sender.id }}" class="text-reset">{{ msg.sender.name }} {{
                        msg.sender.surname }}</a>
                </b>
                <span class="text-secondary">{{ msg.created_at.hour }}:{{ msg.created_at.minute }}</span>
                <br>
                {% endif %}
                {{ msg.content.content }}
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="text-center text-secondary">У вас еще нет диалога с этим пользователем.<br>Напишите первым!</p>
        {% endif %}
        <div class="border border-dark rounded clearfix">
            {{ form.message_field(class="w-75 border-0 p-1 float-start", placeholder="Напишите сообщение...",
            style="outline: None", autocomplete="off") }}
            {{ form.send_field(class="border-top-0 border-end-0 border-bottom-0 float-end p-1") }}
        </div>
    </div>
</form>
{% endblock %}