{% extends "base.html" %}

{% block content %}
<h2>Добро пожаловать на НекитЧаты</h2>
{% if not current_user.is_authenticated %}
<b>Для того чтобы начать работать войдите или зарегистрируйтесь (если вы этого еще не сделали).</b>
{% else %}
<b>Чтобы написать кому-нибудь введите его номер телефона в поле для поиска</b>
<form method="post" novalidate class="float-end">
    <div>
        {{ form.csrf_token }}
    </div>
    <div class="number_input_box">
        {{ form.number_field(placeholder="Номер телефона") }}
        {{ form.search_field() }}
    </div>
    {% if user is defined %}
        <div class="found_user">
            <div class="dropdown">
                <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.name }} {{ user.surname }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/profile/{{ user.id }}">Профиль</a>
                    <a class="dropdown-item" href="/conversation/{{ user.id }}#bottom">Перейти к разговору</a>
                </div>
            </div>
        </div>
    {% endif %}
    {% if message is defined %}
        <div class="message">{{ message }}</div>
    {% endif %}
</form>
{% endif %}
<p>Сейчас вы можете:</p>
<ul>
    <li>Написать в никуда :)</li>
    <li>Уже кому-то написать :)</li>
    <li>Заиметь классный настраиваемый профиль (с аватарками, это важно) :)</li>
    <li>Сбросить пароль, если что-то не так :)</li>
    <li>Просмотреть все свои чаты :)</li>
    <li>Начать путь по системе активностей :)</li>
</ul>
<p>Роадмап на проект:</p>
<ol>
    <li class="text-decoration-line-through">Сделать профиль пользователя, включающий:</li>
    <ul>
        <li class="text-decoration-line-through">Статистику</li>
        <li class="text-decoration-line-through">Интересы</li>
        <li class="text-decoration-line-through">Аватар</li>
    </ul>
    <li>(ОПАСНО) Научиться отправлять медиа-контент</li>
    <li>Создать разделы с информацией</li>
    <li>Переделать роадмап в более-менее красивый блог или канбан-доску</li>
    <li>Сделать поиск пользователей обширнее, внеся предложения по запросу</li>
    <li>Вынести проект в облако, заценить отправку сообщений</li>
    <li>Ну еще что-то там...</li>
</ol>
{% endblock %}