{% extends "base.html" %}

{% block content %}
<h2>Раздел находится в разработке</h2>
<b>Но вы можете пока почитать ТЗ :)</b>
<ol>Хотим создать проект «Чаты». В него войдут:
    <li>Система авторизации пользователей (регистрация, вход, сброс пароля), разграничивающая функционал приложения для авторизованных и неавторизованных пользователей</li>
    <li>Поиск пользователей по номеру телефона</li>
    <li>Передача сообщений между собеседниками</li>
    <li>Настраиваемые профили с информацией и статистикой</li>
    <li>Дополнительные социальные активности (система рейтингов, объявлений)</li>
    <li>Собственное API</li>
    <li>Собственное API</li>
</ol>
{% endblock %}