{% extends "base.html" %}

{% block content %}
<h2>Раздел находится в разработке</h2>
<b>Но вы можете пока почитать ТЗ :)</b>
<pre>Хотим создать проект «Чаты». В него войдут:
    1.	Система авторизации пользователей (регистрация, вход, сброс пароля), разграничивающая функционал приложения для авторизованных и неавторизованных пользователей
    2.	Поиск пользователей по номеру телефона
    3.	Передача сообщений между собеседниками
    4.	Настраиваемые профили с информацией и статистикой
    5.	Дополнительные социальные активности (система рейтингов, объявлений)
    6.	Собственное API
    7.	Вывод проекта в облако</pre>
{% endblock %}