{% extends "base.html" %}

{% block content %}
<form class="clearfix">
    <div class="clearfix">
        <div class="clearfix border-bottom">
            <h3 class="float-start">{{ user.name }} {{ user.surname }}</h3>
            {% if user.id == current_user.id %}
                <a class="float-start link-dark" href="/profile/{{ current_user.id }}/settings">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                              class="bi bi-gear-fill"
                              viewBox="0 0 16 16">
                            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                        </svg>
                    </div>
                </a>
            {% endif %}
        </div>
        <div class="clearfix">
            <img src="{{ pic }}" class="profile-pic rounded-top w-25 h-25 float-start" alt="Упс! Аватарка не найдена!">
            <div class="float-start w-50">
                <h3>О пользователе:</h3>
                <p>Номер телефона: <b>{{ user.phone_number }}</b></p>
                <p>День рождения:<b>{{ user.birthday.strftime('%d.%m.%Y') }}</b></p>
                <p>Дата регистрации: <b>{{ user.registration_time.strftime('%d.%m.%Y') }}</b></p>
                <p>Баллы активности: <b>{{ user.rating }}</b> (<b>{{ user.rank.title }}</b>)</p>
                <a class="text-reset" href="/top"><p>Место в рейтинге: <b>{{ position }}</b></p></a>
                {% if user.interests %}
                    <p>Интересы:
                        {% for i in user.interests %}
                        <b>{{ i.title }}{% if not loop.last %},{% endif %}</b>
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        </div>
        <div>
            {% if user.id == current_user.id %}
                <a class="btn btn-outline-dark w-25 rounded-bottom" href="/profile/{{ current_user.id }}/avatar">Сменить аватарку</a>
            {% else %}
                <a class="btn btn-outline-dark w-25 rounded-bottom" href="/conversations/{{ user.id }}#bottom">Написать сообщение</a>
            {% endif %}
        </div>
        {% if user.id != current_user.id and user.birthday.day == today.day and user.birthday.month == today.month %}
            <div>
                <p><b>У этого счастливчика сегодня день рождения!<br>Не поскупитесь на поздравления!</b></p>
            </div>
        {% endif %}
        <div>
            {% if user.id == current_user.id and not user.interests %}
                <p>Ого! У Вас нет интересов! Настройте их!<br>(Если что, это в настройках профиля, рядом с именем, либо в выпадающем меню сверху)</p>
            {% endif %}
        </div>
        {% if user.advertisements %}
        <div class="clearfix">
            <h2 class="float-right d-inline">Объявления пользователя</h2>
        </div>
        {% endif %}
        {% for ad in user.advertisements %}
            <div class="p-2 border-top border-bottom">
                <div class="clearfix">
                    <div>
                        <span>
                            <b class="fs-4">{{ ad.title }}</b>
                            <small class="text-secondary">#{{ ad.id }}</small>
                        </span>
                        {% if current_user == ad.author %}
                            <a href="/advertisements/{{ ad.id }}/edit" class="btn btn-outline-warning float-end">Изменить</a>
                            <a href="/advertisements/{{ ad.id }}/delete" class="btn btn-outline-danger me-2 float-end">Удалить</a>
                        {% endif %}
                    </div>
                    <p>{{ ad.content.content }}</p>
                    <b>{{ ad.price }} ₽</b>
                    <div class="float-end">
                        <a href="/profile/{{ ad.author.id }}" class="text-reset"><b>{{ ad.author.name }} {{ ad.author.surname }}</b></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</form>
{% endblock %}