{% extends "base.html" %}

{% block content %}
<form class="clearfix">
    <div class="clearfix">
        <div class="clearfix">
            <h3 class="border-bottom float-start">{{ user.name }} {{ user.surname }}</h3>
            {% if user.id == current_user.id %}
                <a class="float-start" href="/profile/{{ current_user.id }}/settings">
                    <div><img src="/static/img/settings.png" width="16px" height="16px"></div>
                </a>
            {% endif %}
        </div>
        <div class="clearfix">
            <img src="{{ pic }}" class="profile-pic rounded-top w-25 h-25 float-start" alt="Упс! Аватарка не найдена!">
            <div class="float-start w-50">
                <h3>О пользователе:</h3>
                <p>Номер телефона: <b>{{ user.phone_number }}</b></p>
                <p>День рождения: <b>{{ user.birthday.year }}-{{ user.birthday.month }}-{{ user.birthday.day }}</b></p>
                <p>Дата регистрации: <b>{{ user.registration_time.year }}-{{ user.registration_time.month }}-{{ user.registration_time.day }}</b></p>
                <p>Баллы активности: <b>{{ user.rating }}</b> (<b>{{ user.rank.title }}</b>)</p>
                <a class="text-reset" href="/top"><p>Место в рейтинге: <b>{{ user.position }}</b></p></a>
                {% if user.interests %}
                    <p>Интересы:
                        {% for i in user.interests %}
                        <b>{{ i.title }}{% if not loop.last %},{% endif %}</b>
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        </div>
        <div>
            {% if user.id == current_user.id %}
                <a class="btn btn-outline-dark w-25 rounded-bottom" href="/profile/{{ current_user.id }}/avatar">Сменить аватарку</a>
            {% else %}
                <a class="btn btn-outline-dark w-25 rounded-bottom" href="/conversations/{{ user.id }}#bottom">Написать сообщение</a>
            {% endif %}
        </div>
        {% if user.id != current_user.id and user.birthday.day == today.day and user.birthday.month == today.month %}
            <div>
                <p><b>У этого счастливчика сегодня день рождения!<br>Не поскупитесь на поздравления!</b></p>
            </div>
        {% endif %}
        <div>
            {% if user.id == current_user.id and not user.interests %}
                <p>Ого! У Вас нет интересов! Настройте их!<br>(Если что, это в настройках профиля, рядом с именем, либо в выпадающем меню сверху)</p>
            {% endif %}
        </div>
        {% if user.advertisements %}
        <div class="clearfix">
            <h2 class="float-right d-inline">Объяления пользователя</h2>
        </div>
        {% endif %}
        {% for ad in user.advertisements %}
            <div class="p-2 border-top border-bottom">
                <div class="clearfix">
                    <div>
                        <span>
                            <b class="fs-4">{{ ad.title }}</b>
                            <small class="text-secondary">#{{ ad.id }}</small>
                        </span>
                        {% if current_user == ad.author %}
                            <a href="/advertisements/{{ ad.id }}/edit" class="btn btn-outline-warning float-end">Изменить</a>
                            <a href="/advertisements/{{ ad.id }}/delete" class="btn btn-outline-danger me-2 float-end">Удалить</a>
                        {% endif %}
                    </div>
                    <p>{{ ad.content.content }}</p>
                    <b>{{ ad.price }} рублей</b>
                    <div class="float-end">
                        <a href="/profile/{{ ad.author.id }}" class="text-reset"><b>{{ ad.author.name }} {{ ad.author.surname }}</b></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</form>
{% endblock %}