{% extends "base.html" %}

{% block content %}
<form class="clearfix">
    <div class="clearfix">
        <div class="clearfix">
            <h3 class="border-bottom float-start">{{ user.name }} {{ user.surname }}</h3>
                <a class="float-start" href="/profile/{{ current_user.id }}/settings">
                    <div><img src="/static/img/settings.png" width="16px" height="16px"></div>
                </a>
        </div>
        <div class="clearfix">
            <img src="{{ pic }}" class="profile-pic rounded-top w-25 h-25 float-start" alt="Упс! Аватарка не найдена!">
            <div class="float-start">
                <h3>О пользователе:</h3>
                <p>День рождения: <b>{{ user.birthday.year }}-{{ user.birthday.month }}-{{ user.birthday.day }}</b></p>
                <p>Дата регистрации: <b>{{ user.registration_time.year }}-{{ user.registration_time.month }}-{{ user.registration_time.day }}</b></p>
                <p>Баллы активности: <b>{{ user.rating }}</b></p>
            </div>
        </div>
        <div>
            {% if user.id == current_user.id %}
                <a class="btn btn-outline-dark w-25 rounded-bottom" href="/profile/{{ current_user.id }}/avatar">Сменить аватарку</a>
            {% else %}
                <a class="btn btn-outline-dark w-25 rounded-bottom" href="/conversation/{{ user.id }}#page-bottom">Написать сообщение</a>
            {% endif %}
        </div>
    </div>
</form>
{% endblock %}