{% extends "index.html" %}

{% block content %}
{% set login_data = ['email_field', 'password_field', 'confirm_password_field'] %}
{% set message_space = namespace(message='') %}
<form method="post" novalidate>
    <div>
        {{ form.csrf_token }}
    </div>
    <div class="float_container">
        <div class="profile-data float-start">
            <h3>Информация о вас:</h3>
            <div>
                {{ form.csrf_token }}
            </div>
            {% for field in form if field.name != 'csrf_token' and field.name not in login_data and field.name != 'submit_field'%}
                <div>
                    {{ field.label() }}
                    <br>
                    {% if field.errors %}
                        {{ field(class="error_field") }}
                        {% set message_space.message = field.errors[0] %}
                    {% else %}
                        {{ field(class="normal_field") }}
                    {% endif %}
                </div>
            {% endfor %}
    </div>
    <div class="login-data float-end">
        <h3>Данные для входа:</h3>
        {% for field in form if field.name != 'csrf_token' and field.name in login_data and field.name != 'submit_field'%}
            <div>
                {{ field.label() }}
                <br>
                {% if field.errors %}
                    {{ field(class="error_field") }}
                    {% set message_space.message = field.errors[0] %}
                {% else %}
                    {{ field(class="normal_field") }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    </div>
    <div class="message">{{ message_space.message }}</div>
    {{ form.submit_field(class="submit-button btn btn-outline-info") }}
</form>
{% endblock %}