{% extends "base.html" %}

{% block content %}
{% set message_space = namespace(message='') %}
<h2 align="center">Сброс пароля</h2>
<form class="float_container w-75" method="post" novalidate>
    <div>
        <div>
            {{ form.csrf_token }}
        </div>
        <div>
            {% for field in form if field.name != 'csrf_token' and field.name != 'submit_field' %}
            <div>
                {{ field.label() }}
                <br>
                {% if field.errors %}
                    {{ field(class="error_field") }}
                    {% set message_space.message = field.errors[0] %}
                {% else %}
                    {{ field(class="normal_field") }}
                {% endif %}
            </div>
            {% endfor %}
        <div class="message">{{ message_space.message }}</div>
        <div>
            {{ form.submit_field(class="submit-button btn btn-outline-danger") }}
        </div>
        </div>
    </div>
</form>
{% endblock %}