{% extends "base.html" %}

{% block content %}
<h2>Добро пожаловать на НекитЧаты</h2>
{% if not current_user.is_authenticated %}
<b>Для того чтобы начать работать войдите или зарегистрируйтесь (если вы этого еще не сделали).</b>
{% else %}
<b>Чтобы написать кому-нибудь введите его номер телефона в поле для поиска</b>

{% endif %}
<p>Сейчас вы можете:</p>
<ul>
    <li>Написать в никуда :)</li>
    <li>Уже кому-то написать :)</li>
    <li>Заиметь классный настраиваемый профиль (с аватарками, это важно) :)</li>
    <li>Сбросить пароль, если что-то не так :)</li>
    <li>Просмотреть все свои чаты :)</li>
    <li>Начать путь по системе активностей :)</li>
</ul>
<p>Роадмап на проект:</p>
<ol>
    <li class="text-decoration-line-through">Сделать профиль пользователя, включающий:</li>
    <ul>
        <li class="text-decoration-line-through">Статистику</li>
        <li class="text-decoration-line-through">Интересы</li>
        <li class="text-decoration-line-through">Аватар</li>
    </ul>
    <li>(ОПАСНО) Научиться отправлять медиа-контент</li>
    <li class="text-decoration-line-through">Создать разделы с информацией</li>
    <li>Сделать поиск пользователей обширнее, внеся предложения по запросу</li>
    <li>Вынести проект в облако, заценить отправку сообщений</li>
    <li>Ну еще что-то там...</li>
</ol>
{% endblock %}